@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  margin: 0;
  font-family: 'Josefin Sans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafaf2;  
}

.card-title {
  font-size: 1.5rem;
}

.card-body {
  padding: 1.25rem; 
  font-size: 1.1rem;
}

.login-image-container {
  padding: 0px;
}

.login-image {
  border-radius: 10px 0 0 10px;
  max-width: 100%;
  height: auto;
}

.login-card {
  border-radius: 0 10px 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Ensures the form stands out */
}


.nav-link.active {
  background-color: #0d6efd;
  color: #fff;
}

.nav-link:hover {
  background-color: #343a40;
  color: #fff;
}

.dropdown-menu {
  background-color: #343a40;
}

@media (max-width: 767px) {
  .navbar {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .flex-grow-1 {
    padding-top: 70px; /* Adjust for navbar height */
  }
}
